<!--base html including the navbar-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Tab {% endblock %}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='navbar/navbar.css') }}>
</head>

<ul>
  <li><img class = "header-img" src = {{ url_for('static', filename='navbar/FLIPP_LOGO.png') }} alt = "FLIPP Logo"></li>
  <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
  <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
  <li><a href="{{ url_for('minutes') }}"">Minutes of the Meeting</a></li>
  <li style="float:right" class="dropdown">
    <a href="#options" class="dropbtn">Options</a>
    <div class="dropdown-content">
      <a href="{{ url_for('profile') }}">Profile</a>
      <a href="{{ url_for('logout') }}">Log Out</a>
    </div>
  </li>
</ul>

<body>
    {% block content %}

    {% endblock %}
</body>
</html>