{% extends 'base2.html'%} {% block title %} Home {% endblock %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href={{ url_for('static', filename='dashboard_extension/dashboard.css') }}>

<body>
    <div class="text-center"><h1>Welcome User!</h1></div>
    <div class="text-center">
        <p><i>Here you will find relevant information for members of UP FLIPP</i></p>
    </div>
    <div class="container" >
        <h2 stlye="text-align:left;">Announcements</h2>
    </div>
    
<br>

 {% for announcement in announcements %}
<table class="fixed" width="100%">
    <col width="10%" />
    <col width="20%" />
    <col width="30%" />
    <col width="40%" />
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Committee</th>
        <th>Message</th>
    </tr>
    <tr>
        <td>{{ announcement.id }}</td>
        <td>{{ announcement.date }}</td>
        <td>{{ announcement.committee }}</td>
        <td>{{ announcement.message }}</td>
    </tr>
</table>





<!-- <p>{{ announcement.id }} - {{ announcement.date }} - {{ announcement.committee }} - {{ announcement.message }} </p>-->
 {% endfor %}


  <br><p></p>
  <div>
    <a class="one" href="{{ url_for('create') }}">Create New Announcement</a>
  </div>

  <br><br><p></p>

<div>
    <a class="one" href="{{ url_for('delete_announcement') }}">Delete Announcement</a>
</div>-->


</body>
{% endblock %}