{% extends 'base2.html'%} {% block title %} Create {% endblock %}

{% block content %}

<link rel="stylesheet" href={{ url_for('static', filename='home/create/create.css') }}>

<h1 style="margin: 20px;">Delete Announcement</h1>
<h2 style="margin: 20px;">WARNING!</h2>
<div style="margin: 20px;">
<p>Any changes committed in this module is irreversible. Proceed with caution!</p>

<form action="{{ url_for('process_delete_announcement') }}" id="del_an" method="post">
  <br>

  <label for="AID">Input Announcement ID:</label>
  <br>
    <input id="AID" name="AID">
  <br><br>

    <input class="btn btn-danger" type="submit" value="Delete" name="delete" />

</form>
</div>
{% endblock %}