{% extends 'base.html'%}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href={{ url_for('static', filename='login/login.css') }}>

<div class="left-welcome">
  <div class="info-box">
    <h6>University of the Philippines Future Library and
      Information Professionals of the Philippines</h6>
    <h2>What is UP FLIPP?</h2>
    <p>An organization housed within the School of Library and
      Information Studies (SLIS) of the University of the Philippines Diliman
      which aims to promote excellence in and awareness of
      the role of librarianship in today's society through efforts such
      as the annual LibSpeak congress and other activities.</p>
      </div>

    <div class="flippicon">
      <img src={{ url_for('static', filename='navbar/FLIPP_LOGO.png') }}>
    </div>
</div>

<div class="right-welcome" class="input-group">

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <label>Student ID:</label>
    {{ form.studentid (class="input-field-login")}}
    <br>
    <label>Password:</label>
    {{ form.password (class="input-field-login")}}
      <br>
    {{ form.submit (class="login-btn") }}
    <br><br>
    <a href="{{ url_for('register')}}">Don't have an account? Sign Up</a>
</form>


</div>


{% endblock %}