{% extends 'base2.html'%} {% block title %} Home {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="margin: 20px;">Change Password</h1>
<div style="margin: 20px;">


<form method="POST" action="">
    {{ form.hidden_tag() }}
    <label>Student ID:</label>
    {{ form.studentid (class="input-field-login")}}
    <br><br>
    <label>Enter Old Password:</label>
    {{ form.password (class="input-field-login")}}
      <br><br>
    <label>Enter New Password:</label>
    {{ form.new_password (class="input-field-login")}}
      <br><br>
    {{ form.submit (class="btn btn-primary") }}
    <br>
</form>
</div>




{% endblock %}