{% extends 'base2.html'%} {% block title %} Create {% endblock %}

{% block content %}

<link rel="stylesheet" href={{ url_for('static', filename='home/create/create.css') }}>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="margin: 20px;">Upload New Picture</h1>
<body>
<div style="margin: 20px;">
<form method="POST" enctype="multipart/form-data">
    <label>Select Date:</label>
    <br>
    <input type="date" name="date">
    <p></p>
    <label>Select Picture:</label>
    <br>
    <input type="file" name="image">
    <p></p>
    <label>Provide short description:</label>
    <br>
    <input type="text" name="description">
    <br><br>
    <button class="btn btn-primary">Upload</button>

</form>

{% endblock %}