{% extends 'base2.html'%} {% block title %} Create {% endblock %}

{% block content %}

<link rel="stylesheet" href={{ url_for('static', filename='home/create/create.css') }}>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1 style="margin: 20px;">Upload Copy of the Minutes of the Meeting</h1>
<div style="margin: 20px;">
<form method="POST" enctype="multipart/form-data">
    <label>Select Date:</label>
    <br>
    <input type="date" name="date">
    <p></p>
    <label>Select File:</label>
    <br>
    <input type="file" name="file" accept="application/pdf">
    <p></p>
    <label>Details:</label>
    <br>
    <input type="text" name="details">
    <br><br>
    <button class="btn btn-primary">Upload</button>

</form>
</div>

{% endblock %}