@import "/static/navbar/navbar.css";



a.one:link, a.one:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  position: relative;
  top: 10px;
  left: 15px;
}

a.one:hover, a.one:active {
  background-color: green;
  color: white;
}

