@import "/static/navbar/navbar.css";

th, td {
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: right;

}

table {
  border-spacing: 30px;
  border: 1px gray;
}
